<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203945422296-29t0dpa1qkm02qrkq1a6r40mj1pa2bvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203945422296-29t0dpa1qkm02qrkq1a6r40mj1pa2bvd</string>
	<key>API_KEY</key>
	<string>AIzaSyDUhJAQtCQULiU4k7JKk6Z3G4VuZWZzmD8</string>
	<key>GCM_SENDER_ID</key>
	<string>203945422296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fakhri.astore</string>
	<key>PROJECT_ID</key>
	<string>astore-a3da6</string>
	<key>STORAGE_BUCKET</key>
	<string>astore-a3da6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203945422296:ios:31e2f05880ab3f56b816ad</string>
</dict>
</plist>